.left-model-younger{
    border-right: 1px solid #E0E0E0;
    padding:10px
}
.bold-model{
    font-weight: bold;
    font-size: 12px;
    line-height: 0;
}
.flex-model{
    display: flex;
}
.p-chaim{
    font-size: 12px;

}
.select-modell{
    border: 1px solid lightgray;
    height: 25px;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 5%;
}
.radio-model{
    margin-left: 35%;
    margin-top: -10px;
}
.radio-label{
    font-size: 12px;
    padding: 5px;
}
.box-model{
    min-height: 170px !important;
    background-color: white;
}
.input-model{
    height: 30px;
    font-size: 12px !important;
    margin-bottom   :10px;
}
.p-model-date{
    font-size: 12px;
    padding-top: 10% !important;
    margin-left: 10%;
}
.p-model-date1{
    font-size: 12px;
    padding-top: 10% !important;
    margin-bottom: 0px;
    text-align: end;
    color: #536DFE;
}
.start-date{
    font-size: 14px !important;
    margin-bottom: 0px;
    margin-left: -5px;
}
.span-confirm{
    font-size: 12px;
}
.inner-box {
    border: 1px solid #DADEF0;
    border-radius: 5px;
    height: 450px !important;
    padding: 20px !important;
    margin:10px;

}
.available{
    border-bottom: 1px solid #DADEF0;
    font-size: 12px;
    padding-bottom: 10px;

}
.select-button{
    height: 20px !important;
    background-color: transparent;
    font-size: 8px !important;
    border: 1px solid green !important;
}
.left-jj{
    padding: 10px;
    font-size: 14px;
}
.card-results {
    max-height: 190px;
    min-height: 190px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
overflow-y: scroll;
}
.input-model-right{
    border: none !important; 
    border-bottom: 1px solid #DADEF0 !important;
}
.select-model{
    border: none !important; 
    border-bottom: 1px solid #DADEF0 !important;
    width: 100%;
    margin-top: 20px;
}
.load-result{
    background-color: #3F51B5 !important;
    float: right;
    margin-top: 30px;
    border-radius: 5px;
    color: white !important;
    font-size: 11px !important;
    width: 100px;
    height: 30px;
    border: none;
    margin-right: 20px !important;
    margin-bottom: 20px !important;

}
.load-result-youngerman {
    background-color: #3F51B5 !important;
    float: right;
    margin-top: 5% !important;
    border-radius: 5px;
    color: white !important;
    font-size: 11px !important;
    width: 100px;
    height: 30px;
    border: none;
    margin-bottom: 20px !important;

}
.load-result1{
    background-color: transparent !important;
    float: right;
    margin-top: 30px;
    border-radius: 5px;
    color: black !important;
    font-size: 11px !important;
    width: 100px;
    height: 30px;
    border: 1px solid #3F51B5 !important;
    margin-right: 10px !important;
    margin-bottom: 20px !important;

}
.MuiTypography-body1 {
    font-size: 0.8rem !important;

}
.date-end-schedule{
    text-align: center;
    margin-top: 5% !important;
}
.load-result-schedule{
    background-color: #3F51B5 !important;
    float: right;
    margin-top: 30px;
    border-radius: 5px;
    color: white !important;
    font-size: 11px !important;
    width: 130px;
    height: 30px;
    border: none;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
}
.table-style-card{
    margin-top: 15%;
    width: 100% !important;
    max-height: 300px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll;
    
}
.load-Select{
    background-color: transparent !important;
    float: right;
    margin-top: 3px;
    border-radius: 5px;
    color: green !important;
    font-size: 9px;
    height: 15px;
    border: 1px solid #536DFE !important;
}
.moshe-blue{
    text-decoration: underline;
    color: #536DFE;
}